:root {
  font-family: 'VT323', 'Courier New', Courier, monospace;
}

html, 
body {
  height: 100%;
}

body {
  display: flex;
  background-color: #1d1d1d;
  overflow-x: hidden;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#app {
  background-color: white;
  width: 320px;
  height: 180px;
}
